body {
    margin: 0;
    background: #ccc;
    font-family: arial, sans-serif;
}
main {
    width: 80%;
    margin: auto;
}
footer {
    color: #fff;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    text-align: center;
    background-color: #6b6c68;
    text-shadow: 2px 2px 2px #000;
}

.banner {
    height: 500px;
    background-size:cover;
    background-position: right center;
    border-top: 1px solid transparent;
    background-image: url(../images/background.jpg);
}
.banner nav a{
    color: #fff;
    padding: 15px;
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.3);
}
.banner nav ul {
    text-align: right;
    margin: 20px 50px 0px 0px;
}
.banner nav li {
    list-style:  none;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #fff;
}
.banner-content {
    color: white;
    text-align: center;
}
.banner-content h1 {
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
    text-transform: uppercase;
}
.banner nav a:hover {
    background-color: rgba(0,0,0,0.5);
}

.section-content{
    padding: 15px;
    margin-top: 15px;
    background-color: white;
}
.section-content header h2 {
    padding: 10px;
    background-color: #e2e2e2;
    border-bottom: 2px solid #b1b1b1;
}